<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">
    <h2>Post it!</h2>
    <a href="/post">Make a post</a>
    <div>
        <th:block th:each="post : ${posts}">
            <div th:if="${!post.anonymous}">
                <h2 th:text="${post.title}"></h2>
                <p th:text="${post.body}"></p>
                <p th:text="${post.user.username}"></p>
            </div>
            <div th:if="${post.anonymous}">
                <h2 th:text="${post.title}"></h2>
                <p th:text="${post.body}"></p>
                <p>Anonymously Posted</p>
            </div>
        </th:block>
    </div>


</div>

</body>
</html>