<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<div th:replace="fragments :: page-header"></div>
<h3 th:text="${error}"></h3>
<div class="container body-content">


<th:block th:if="${post != null}">
    <div class="row d-flex justify-content-center">
<th:block th:if="${post.type == 'text'}">
    <div th:if="${!post.anonymous}" class="col-sm-8">
        <div class="card">
            <h3 th:text="${post.title}" class="card-title"></h3>
            <p th:text="${post.body}" class="card-body"></p>
            <div class="row">
                <p th:text="'Posted by: ' + ${post.user.username}" class="col-sm-6"></p>
                <p th:text="${post.getFormattedDate()}" class="text-right col-sm-6"></p>
            </div>
            <div th:replace="fragments :: editButtons"></div>
        </div>
    </div>
    <div th:if="${post.anonymous}" class="col-sm-8">
        <div class="card">
            <h3 th:text="${post.title}" class="card-title"></h3>
            <p th:text="${post.body}"></p>
            <div class="row">
                <p class="col-sm-6">Posted Anonymously</p>
                <p th:text="${post.getFormattedDate()}" class="text-right col-sm-6"></p>
            </div>
            <div th:replace="fragments :: editButtons"></div>
        </div>
    </div>
</th:block>
<th:block th:if="${post.type == 'image'}">
    <div th:if="${!post.anonymous}" class="col-sm-8">
        <div class="card">
            <h3 th:text="${post.title}" class="card-title"></h3>
            <img th:src="${post.url}" class="card-img-top"/>
            <div class="row">
                <p th:text="'Posted by: ' + ${post.user.username}" class="col-sm-6"></p>
                <p th:text="${post.getFormattedDate()}" class="text-right col-sm-6"></p>
            </div>
            <div th:replace="fragments :: editButtons"></div>
        </div>
    </div>
    <div th:if="${post.anonymous}" class="col-sm-8">
        <div class="card">
            <h3 th:text="${post.title}" class="card-title"></h3>
            <img th:src="${post.url}" class="card-img-top"/>
            <div class="row">
                <p class="col-sm-6">Posted Anonymously</p>
                <p th:text="${post.getFormattedDate()}" class="text-right col-sm-6"></p>
            </div>
            <div th:replace="fragments :: editButtons"></div>
        </div>
    </div>
</th:block>
    </div>
</th:block>

</div>
</body>
</html>