<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<div class="container-fluid">
<div th:replace="fragments :: page-header"></div>
<h3 class="text-center">Make an Image Post</h3>
<div class="row">
    <div class="col-sm-12 d-flex justify-content-center">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label>Title
                    <input type ="text" name="title" class="form-control">
                </label>
                <p class="errors" th:errors="${imagePostDTO.title}"></p>
            </div>
            <div class="form-group">
                <label>Picture
                    <input type="file" name="image" accept="image/jpeg, image/png">
                </label>
                <p class="errors" th:text="${errorUrl}"></p>
            </div>
            <div class="form-group">
                <div class="row">
                    <p class="col-sm-3">Anonymous:</p>
                    <input type="checkbox" name ="anonymous" class="form-control col-sm-9">

                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Post" class="btn btn-success">
            </div>
        </form>
    </div>
</div>
</div>
</body>
</html>